

/* colours and font */

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.charcole-grey {
    background-color: #303030;
}

.coral_red {
    color: #ff5757!important;
}

.off_white{
    color: #f6f3e4;
}

.dark_red {
color: #c92e00;
}

.larger-font-size {
    font-size: 200%;
}


/* overwrite some materialise formatting for cleaner presentation */
.removemargin {
    margin-bottom: 0!important;
}

.row {
    margin-left: 0rem!important;
    margin-right: 0rem!important;
}
    

.align-self-center {
    align-self: center!important;
}

.p-1 {
    padding: .25rem!important;
}

.rounded-circle {
    border-radius: 50%!important;
}

.toprow {
    height: 100px;
    position: relative;
}
/* general formating for body and main to help align footer*/
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

/* formating for homepage icons*/
.homepage_icons {
    font-size: 900%;
    height: 100%;
    width: 100%;
    margin: 5%;
    text-align: center;
    position: relative;
}

/* center content within a div*/
.center-content {
        
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    
}

/* to show a smaller roulette wheel on mobile devices*/

 .mobileshow {display: none;} 

@media only screen and (max-width : 1300px)
{ 
    .mobileshow {
     
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.desktop {display: none;} 

/* to show a larger roulette wheel on desktop*/
@media screen and (min-width: 1300px)
   { 
    .desktop {
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

