.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.row {
    margin-left: 0rem!important;
    margin-right: 0rem!important;
}
.charcole-grey {
    background-color: #303030;
}

.rounded-circle {
    border-radius: 50%!important;
}
.align-self-center {
    align-self: center!important;
}

.p-1 {
    padding: .25rem!important;
}

.coral_red {
    color: #ff5757!important;
}

.off_white{
    color: #f6f3e4;
}

.dark_red {
color: #c92e00;
}


.toprow {
    height: 100px;
    position: relative;
}

.removemargin {
    margin-bottom: 0!important;
}

.larger-font-size {
    font-size: 200%;
}

.homepage_icons {
    font-size: 900%;
    height: 100%;
    width: 100%;
    margin: 5%;
    text-align: center;
    
    position: relative;
}