{% extends "base.html" %}

{% block content %}
<div class="row removemargin">
    <div class="col s12">
        <h2 class="coral_red center-align"> {{username}}'s Profile</h2>
        <ul class="collection">
            <li class="collection-item avatar">
                <i class="fas fa-dumbbell circle"></i>

                <span class="title">You have workedout for</span>
                <p>
                    {% for total in total %}
                    {% if session.user|lower == total._id|lower %}
                    {{ total.minutes*5 }} minutes
                    {% endif %}
                    {% endfor %}
                </p>
            </li>
            <li class="collection-item avatar">
                <i class="fas fa-dumbbell circle"></i>
                <span class="title">You have completed</span>
                <p>
                    {% for burpees in burpees %}
                        {% if session.user|lower == burpees._id|lower %}
                            {{ burpees.count }} sets of burpees
                       {% endif %}  
                    {% endfor %}
                    <br>
                    
                    {% for push_ups in push_ups %}
                        {% if session.user|lower == push_ups._id|lower %}
                            {{ push_ups.count }} sets of Push Ups
                        {% endif %}
                    {% endfor %}
                    
                    <br>
                   
                    {% for air_squats in air_squats %}
                         {% if session.user|lower == air_squats._id|lower %}
                            {{ air_squats.count }} sets of Air Squats
                        {% endif %}
                    {% endfor %}
                    
                    <br>
                    
                    {% for lunges in lunges %}
                        {% if session.user|lower == lunges._id|lower %}
                            {{ lunges.count }} sets of Lunges
                        {% endif %}
                    {% endfor %}
                    
                    <br>
                    
                    {% for shuttle_runs in shuttle_runs %}
                        {% if session.user|lower == shuttle_runs._id|lower %}
                            {{ shuttle_runs.count }} sets of Shuttle Runs
                        {% endif %}
                    {% endfor %}
                    
                    <br>
                    
                    {% for jumping_jacks in jumping_jacks %}
                        {% if session.user|lower == jumping_jacks._id|lower %}
                            {{ jumping_jacks.count }} sets of Jumping Jacks
                        {% endif %}
                    {% endfor %}
                    
                    <br>
                    
                    {% for plank in plank %}
                        {% if session.user|lower == plank._id|lower %}
                            {{ plank.count }} sets of Planks
                        {% endif %}
                    {% endfor %}
                    
                    <br>
                    
                    {% for sit_ups in sit_ups %}
                        {% if session.user|lower == sit_ups._id|lower %}
                            {{ sit_ups.count }} sets of Sit Ups
                        {% endif %}
                    {% endfor %}
                    
                    <br>
                    
                    {% for tricep_dips in tricep_dips %}
                        {% if session.user|lower == tricep_dips._id|lower %}
                            {{ tricep_dips.count }} sets of Tricep Dips
                        {% endif %}
                    {% endfor %}
                    
                    <br>
                    
                    {% for mountain_climbers in mountain_climbers %}
                        {% if session.user|lower == mountain_climbers._id|lower %}
                            {{ mountain_climbers.count }} sets of Mountain Climbers
                        {% endif %}
                    {% endfor %}
                    
                    <br>
                    
                    {% for bear_crawl in bear_crawl %}
                        {% if session.user|lower == bear_crawl._id|lower %}
                            {{ bear_crawl.count }} sets of Bear Crawl
                        {% endif %}
                    {% endfor %}
                    
                    <br>
                    
                    {% for glute_bridges in glute_bridges %}
                        {% if session.user|lower == glute_bridges._id|lower %}
                            {{ glute_bridges.count }} sets of Glute Bridges
                        {% endif %}
                    {% endfor %}
                    
                    
                </p>
            </li>
        </ul>
    </div>
</div>
{% endblock %}