{% extends "base.html" %}

{% block content %}
<div class="row removemargin">
    <div class="col s12">
        <h2 class="coral_red center-align"> {{username}}'s Profile</h2>
        <ul class="collection">
            <li class="collection-item avatar">
                <i class="fas fa-dumbbell circle"></i>

                <span class="title">You have workedout for</span>
                <p>
                    {% for total in total %}
                    {% if session.user|lower == total.user|lower %}
                    {{ total.minutes }} minutes
                    {% endif %}
                    {% endfor %}
                </p>
            </li>
            <li class="collection-item avatar">
                <i class="fas fa-dumbbell circle"></i>
                <span class="title">You have completed</span>
                <p>x sets of y exercise
                </p>
            </li>
        </ul>
    </div>
</div>
{% endblock %}